@import "tailwindcss";

:root {
  --background: #f6f4ec;
  --foreground: #191401;
    --primary: #ffcc00;
    --accent: #f9edc1;
    --secondary: #ff8c00;
    --dangerous: #ff2f00;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
    --color-primary: var(--primary);
    --color-accent: var(--accent);
    --color-secondary: var(--secondary);
    --color-dangerous: var(--dangerous);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

span, p, h1, h2, h3, h4, h5, h6 {
  color: var(--foreground);
}

button {
  cursor: pointer;
}

#notes-section::-webkit-scrollbar {
  width: 8px;
  background: var(--accent);
}

#notes-section::-webkit-scrollbar-thumb {
  background: var(--primary);
  border-radius: 8px;
}
